body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

/* banner section */
.banner-con {
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: auto;
  background: rgba(229, 84, 115, 0.1);
  padding: 0px 240px 0px 240px;
}
.banner-left-side {
  width: 50%;
}
.banner-title {
  color: #272727;
  font-size: 65px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 32px;
  margin-top: 200px;
  text-align: left;
}

.banner-descripiton {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 32px;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  background: #e55473;
}
.btn-primary:hover {
  background-color: rgba(29, 1, 7, 0.767);
  color: #e55473;
}
.banner-img {
  width: 635px;
  height: 800px;
  margin-top: 50px;
}

/*Featured Flowers section  */
.featured-section {
  margin-top: 180px;
}
.featured-heading {
  color: #272727;
  text-align: center;
  font-size: 40px;
  line-height: normal;
  margin-bottom: 24px;
}
.featured-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 48px;
}
.featured-flower {
  text-align: center;
  justify-content: space-evenly;
  margin: 48px 240px;
  display: flex;
}
.flower-tree {
  width: 310px;
  height: 428px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 117px 47px 0px 47px;
}
.flower {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.flower-title {
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  text-decoration-line: underline;
  cursor: pointer;
}
.flower-title:hover {
  color: #e55473;
  transition: 0.4s;
}
#second-tree {
  background: rgba(5, 151, 160, 0.15);
}
#third-tree {
  background: rgba(71, 125, 17, 0.15);
}
/* Group Section */
.group-section {
  width: 1440px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
  margin: 180px 240px 0px 240px;
}
.group-items {
  padding: 50px 50px 10px 50px;
}
.group-items {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.group-items:hover {
  color: #e55473;
  cursor: pointer;
}
.delivery-title {
  margin-top: 15px;
  text-align: center;
}

/* Hot Deal section */
.hot-deal-con {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 180px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.deal-con {
  margin-top: 180px;
  margin-left: 300px;
}
.deal-title {
  color: #272727;
  font-size: 40px;
  margin-bottom: 24px;
}
span {
  color: #e55473;
}
.deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 24px;
}
.deal-flower {
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* instagram section */
.insta-con {
  margin-top: 180px;
}
/* .insta-details {
  text-align: center;
  justify-content: center;
} */
.insta-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  line-height: normal;
  margin-bottom: 24px;
}
.insta-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-bottom:80px;
}
.box-items{
    display: flex;
    justify-content: space-evenly;
    margin-left: 230px;
    margin-right: 230px;
}

/*  <!-- Get the letes Deals seciton --> */
.lest-deal-con{
    margin-top: 180px;
}
.subscribe-form{
    justify-content: center;
    text-align: center;
    background: url(""), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    width: auto;
    height: auto;
    padding: 150px 150px 100px 150px;
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-right: 200px;
      

}
.form{
    text-align: left;
    width: 600px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background: #fff;
    padding: 10px;
}
